body{
	background-image: url("araç.jpg");
}

.logo{
	width:128px;
	height:100px;
	float:left;
	padding: 5 0 0 50 ;
}

.menu{
	width:1864px;
	height:110px;
	margin-top: 10px;
	background-color:#dd263c;
	color:white;
	font-family:'gill sans mt';
	font-style: bold;
}

.menu ul{
	padding:0; 
	margin:0; 
	list-style:none;
	float: right;
}

.menu ul li {float:left}

.menu ul li a {
	display:block; 
	width:200px; 
	height:70px; 
	text-decoration-style: solid; 
	text-align:center; 
	color:white; 
	font-size:20px; 
	text-align: center; 
	padding: 40 0 0 0;
	text-decoration: none;
	
}
.menu ul li a:hover {
	text-decoration:solid; 
	background-color:#e48213; }

.sol{
	width:600px;
	height:450px;
	background-color:#dd263c;
	padding: 100 0 0 0;
	margin: 150px;
	font-family:'Segoe UI Light';
	opacity: 0.9;
	float: left;
	border-radius: 10px;
}

.tarihler{
	position: absolute;
	top:390px;
	left:190px;
	font-family: 'Segoe UI light';
}

.button{
    align-items: center;
    padding: 15px 30px;
    background-color: #e48213;
    font-size: 16px;
    color: #fff;
    border-radius: 30px;
    border: 0;
	transition: ease-in;
}

.button span {
	cursor: pointer;
	display: inline-block;
	position: relative; 
	transition: 0.5s;
  }
  
  .button span:after {
	content: '\00bb';
	position: absolute; 
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
  }
  
  .button:hover span { 
	padding-right: 25px;
  }

  .button:hover span:after {
	opacity: 1;
	right: 0;
  }

  .button:active {
	background-color: #9e5b0f;
	transform: translateY(4px);
  }

  .sag{
	width:600px;
	height:450px;
	background-color:#dd263c;
	padding: 100 0 0 0;
	margin: 150px;
	font-family:'Segoe UI Light';
	opacity: 0.9;
	float: right;
	border-radius: 10px;
  }

  .arabalar{
	position: absolute;
	top:270px;
	right:190px;



  }